*
!frontend/
!frontend/**
!backend/
!backend/app/
!backend/app/**
!backend/alembic/
!backend/alembic/**
!backend/alembic.ini
!backend/pyproject.toml
!backend/uv.lock
!entrypoint.sh
!LICENSE

frontend/node_modules/
frontend/.yarn/
frontend/dist/
frontend/.venv/
frontend/.env*
frontend/*.tsbuildinfo
frontend/**/__pycache__/
backend/**/__pycache__/
