/* Nord Theme */
[data-theme="nord"] {
  /* Backgrounds */
  --bg0: #2e3440;
  --bg1: #3b4252;
  --bg2: #434c5e;
  --bg3: #4c566a;
  --bg4: #4c566a;
  --bg-h: #5e81ac;

  /* Foregrounds */
  --fg0: #eceff4;
  --fg1: #eceff4;
  --fg2: #e5e9f0;
  --fg3: #d8dee9;
  --fg4: #d8dee9;
  --gray: #4c566a;

  /* Accent colors - darker */
  --red: #bf616a;
  --green: #a3be8c;
  --yellow: #ebcb8b;
  --blue: #81a1c1;
  --purple: #b48ead;
  --aqua: #88c0d0;
  --orange: #d08770;

  /* Accent colors - bright */
  --red-bright: #bf616a;
  --green-bright: #a3be8c;
  --yellow-bright: #ebcb8b;
  --blue-bright: #81a1c1;
  --purple-bright: #b48ead;
  --aqua-bright: #88c0d0;
  --orange-bright: #d08770;
}
